*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', bold;
    box-sizing: border-box;
    font-weight: 900;
}



textarea, select, input, button { outline: none; }

body{
    min-height: 100vh;
    color: white !important;
}


a{
    color: #fff !important;
    text-decoration: none;
}

nav{
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 99 !important;
    background: #222;
    width: 100%;
}

nav ul{
    /* list-style-type: none; */
    float: right;
    padding-top: 20px;
}

nav ul li{
    float: left;
    color: transparent;
}

nav ul li a{
    /* color: #333; */
    padding-right: 20px;
}

#logo{
    /* padding-left: 20px; */
    font-size: 25px;
    font-weight: 900;
}

#logo img{
    width: 200px;
    margin-top: -20px;
    margin-left: -50px;
}

h2{
    font-size: 5vh !important;
}

.container-medium-text{
    font-size: 3vh !important;
}
.my-container{
    text-align: center;
    margin: 0px auto;
    padding: 30px 0px;
    min-height: 100vh;
}

.my-row{
    min-height: 100vh;
    margin: 0px 0px !important;
}

/* CONTAINER 1 */
.container-1{
    margin-top: -100vh;
    z-index: 2 !important;
    width: 100%;
    position: relative;
}
.container-1-img{
    background: #222f3e;
    /* background: url('https://images.unsplash.com/photo-1433979933652-5e766d98ebb4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80'); */
    background-size: cover;
    filter: grayscale(1);
}
.container-1 h1{
    font-size: 15vw;
    color: #ee5253;
    padding-top: 30vh;
    font-family: 'Kaushan Script', cursive;
}

/* CONTAINER 2 */

.container-common h1{
    font-size: 12vh;
    color: white;
    font-family: 'Roboto';
    transform: translateY(100%);
    font-weight: 100;
    line-height: 10vh;
    display: inline;
}

.img-ring{
    width: 100px;

}

.container-2{
    background: #ff6b6b;
}


.container-2-left{
    background: #ee5253;
    padding: 30px;
}

.container-2-right{
    padding: 100px;
}
.container-2-items{
    padding: 50px;
}

/* CONTAINER 3 */
.container-3{
    background: #1dd1a1;
}

.container-3-left{
    background: #10ac84;
    padding: 30px;
}

.container-3-right{
    padding: 15px;
}

.container-3-items-div{
    padding: 0 !important;
    margin: 0;
    height: 40vh;
}
.container-3-items-image{
    height: 40vh;
}
.container-3-row{
    padding: 0 15px;
    filter: grayscale(1);
    opacity: 0.6;
}


/* CONTAINER 4 */
.container-4{
    /* background: #feca57; */
    background: white;
}

.container-4-items-div{
    padding: 0px 50px !important;
    
}
.container-4-items-div-text h1{
    color: #333;
    padding: 50px 35px; 
}

.container-4-items{
    height:70vh;
}

.image1{
    background: url('https://images.unsplash.com/photo-1533956196804-d27afa43b4d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=597&q=80') no-repeat;
    background-size: cover;
}
.image2{
    background: url('https://images.unsplash.com/photo-1526914418921-405c5393fcaa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80') no-repeat;
    background-size: cover;
}
.image3{
    background: url('https://images.unsplash.com/photo-1505058811281-e0e8f7aa17f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80') no-repeat;
    background-size: cover;
}

/* CONTAINER 5 */
.container-5{
    background: #48dbfb;
}

.container-5 h1{
    font-size: 10vh;
    color: white;
    font-family: 'Roboto';
    transform: translateY(100%);
    font-weight: 100;
    line-height: 8vh;
}
.container-5-left{
    background: #0abde3;
    text-align: right;
    padding: 30px;
}

.container-5-right{
    padding: 100px;
    /* font-size: 3vh; */
}
.container-5-items-img{
    background: url('https://images.unsplash.com/photo-1534242560170-592c4bacbe4f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1789&q=80');
    background-size: cover;
    height: 50vh;
    opacity: 0.5;
    filter: grayscale(1);
    margin: 5vh 0px;
}

.container-footer{
    background: #222;
}

blockquote{
    color: #777;
    
}

.my-block p{
    font-size: 2vh;
    text-align: center;
    width:  60%;
    margin: 0 auto;
    font-weight: 100;
}
.my-block-gallery{
    padding: 40px 0px;
}
.my-block-gallery p{
    font-size: 2vh;
    text-align: center;
    font-weight: 100;
}

blockquote footer{
    font-size: 2vh;
    width:  60%;
    margin: 0 auto;
}

.quotation:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -10px;
    position: relative;
    top: 10px;
    color: #ccc;
    font-size: 3em;
  }
  .quotation::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 10px;
    position: relative;
    top: 25px;
    color: #ccc;
    font-size: 3em;
  }

/* FOOTER */

.footer-div{
    padding-top: 30vh;
    text-align: center;
}

.footer-div *{
    line-height: 10vh;
    font-family: 'Roboto';
}
.footer-div h1{
    font-weight: 200;
    letter-spacing: 10px;
    font-size: 5vh;
}

.footer-div h4{
    font-weight: 400;
    padding-bottom: 20vh;
    font-size: 2vh;
    opacity: 0.3;
}

.footer-div p, .footer-div a, .footer-div div{
    font-weight: 100;
    font-size: 2vh;
}

footer{
    margin:0;
    text-align: right;
    font-style: italic;
}

@media only screen and (max-width: 400px) { 
	.footer-div h1{
        font-weight: 200;
        font-size: 3vh;
        letter-spacing: 0px;
    }
    #flaticon-cred{
        display: none;
    }
    nav ul{
        /* list-style-type: none; */
        float: left;
    }
}